<html>
<head>
    <title>Product Create</title>        
</head>
<body>
    <a href="#">Create</a> <br />
    <a href="#">Fetch&Update</a><br />
    <a href="#">Delete</a><br />
    <a href="~/home/index/">Home</a><br />

    <form action="~/Product/Save" method="post">
        Product Id: <input type="text" name="Id" /><br />
        Product Name: <input type="text" name="Name" /><br />
        Product Rate: <input type="number" name="Rate" /><br />
        <input type="submit" value="save" />
    </form>

</body>
</html>