<html>
<head>
    <title>Product Fetch</title>
</head>
<body>
    <a href="~/Product/Create/">Create</a><br />
    <a href="~/Product/Fetch/">Fetch&Update</a><br />
    <a href="~/Product/Delete/">Delete</a><br />
    <a href="~/Home/Index/">Home</a><br />

    <form action="~/Product/ViewProduct" method="post">
        Product Id: <input type="text" name="Id" /><br />
        <input type="submit" value="Fetch" />
    </form>

</body>
</html>