<html>
<head>
    <title> SP - Created </title>
</head>
<body>
    <h1>
        SP - Create  
    </h1>

    <form action="~/SalesPerson/Save" method = "post">
        Id <input type ="text" name = "Id" /> <br />
        Name <input type ="text" name="Name" /> <br />
        Contact Number <input type ="text" name="ContactNumber" /> <br />

        <input type="submit" value="Save" />
    </form>

</body>
</html>