<html>
<head>
    <title>Sales Person - Fetch </title>
</head>
<body>
    <a href="~/SalesPerson/Create">Create</a> <br />
    <a href="~/SalesPerson/Fetch">Fetch & Update</a> <br />
    <a href="#">Delete</a> <br />
    <a href="~/Home/Index/">Home</a> <br />

    <form action="~/SalesPerson/ViewSalesPerson" method="get">
        Sales Person Id: <input type="text" name="Id" /> <br />
        <input type="submit" value="Fetch" />
    </form>
</body>
</html>