<html>
<head>
    <title>
        SalesPerson
    </title>
</head>
<body>
    <h1> Sales Person </h1>
    <a href="~/SalesPerson/Create">Create</a> <br />
    <a href="~/SalesPerson/Fetch">Fetch & Update</a> <br />
    <a href="~/SalesPerson/Delete">Delete</a> <br />
    <a href="~/Home/Index/">Home</a> <br />

</body>
</html>