<html>
<head>
    <title>Bill Fetch</title>
</head>
<body>
    <a href="~/Bill/Create/">Create</a><br />
    <a href="~/Bill/Fetch/">Fetch&Update</a><br />
    <a href="~/Bill/Delete/">Delete</a><br />
    <a href="~/Home/Index/">Home</a><br />

    <form action="~/Bill/DeleteBill" method="post">
        Bill Id: <input type="text" name="Id" /><br />
        <input type="submit" value="Delete" />
    </form>

</body>
</html>