<html>
<head>
    <title>Bill Fetch</title>
</head>
<body>
    <a href="#">Create</a><br />
    <a href="#">Fetch&Update</a><br />
    <a href="#">Delete</a><br />
    <a href="~/Home/Index/">Home</a><br />

    <form action="~/Bill/BillToFetch" method="post">
        Bill Id: <input type="text" name="Id" /><br />
        
        <input type="search" value="Fetch" />
    </form>

</body>
</html>