<html>

<head>
    <title> Sales </title>
</head>
    <body>
        <h1> Sales </h1>

        <a href="~/Sales/Create">Create</a> <br />
        <a href="~/Sales/#">Fetch & Update</a> <br />
        <a href="#">Delete</a> <br />
        <a href="~/Home/Index/">Home</a> <br />
    </body>

</html>