<html>
    <head>
        <title>Functional Site</title>
    </head>
    <body>
        <a href="~/Customer/Create">Create</a> <br/>
        <a href="#">Fetch & Update</a> <br />
        <a href="#">Delete</a> <br />
        <a href="~/Home/Index/">Home</a> <br />
    </body>
</html>