<html>
    <head>
        <title>Functional Site</title>
    </head>
    <body>
        <a href="~/Customer/Index/">Customer</a> <br />
        <a href="~/Product/Index/">Product</a> <br />
        <a href="#">Sales Person</a> <br />
        <a href="#">Sales</a> <br />
        <a href="#">Invoice</a> <br />
        <a href="~/Bill/Index">Bill</a> <br />
    </body>
</html>